:root {
  @apply font-rubik text-base;
}

html {
  @apply h-screen;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  @apply h-full bg-background-gray;
}

#__nuxt {
  @apply h-full flex items-start justify-center;
}
